*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    
}
#home{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0green,0 blue,0.5 alpha) ;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img2.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
}
.main{
    display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top:30%;
left: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 30px 0px;
    color:lightgrey;
}
.headings2{
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 30px 0px;
    color: lightgray;
}
.headings3{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    color:rgb(246, 234, 234);
    

    
}
#resume{
    padding-top: 50px;
    background-color: royalblue;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 50px;
    background-image: url('img1.jpg');
    height: 700px;
    width: 100%;
}
#pic{
    display: flex;
    align-items: center;
}
#pic img{
    width: 600px;
    height: 450px;
   
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 80px;
    color: white;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}
p{
    font-size: large;
}

#services{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45) 50%,white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}
.box img{
    width: 80px;
    height: 80px;
    background-color:white;
    padding: 10px;


}
#services{
    background-image: url('img2.jpg');
    height: 660px;
    width: 100%;
}
#services background-image{
    height: 350px;
    width: 100%;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:rgba(0,0,0,0.9);
    color:white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
.images{
    width: 70%;
}
